body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}  

.tren {
    width: 80%;
    height: 25%;
    margin-left: 20%;
    background-color: #4B3822;
}

.duoi {
    width: 100%;
    height: 75%;
}

.menu {
    background-color: black;
    width: 20%;
    height: 100%;
    float: left;
}

.noi_dung {
    background-color: white;
    width: 80%;
    height: 100%;
    float: right;
}