body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.2;
}

.chu_mau_trang {
    color: white;
    text-align: left;
    padding-left: 25px;
}

.logo {
    position: fixed;
    width: 20%;
    height: 25%;
    float: left;
}

.tren_phai {
    margin-left: 20%;
    background-color: #4B3822;
    width: 80%;
    height: 25%;
    position: fixed;
}

.thanh_dieu_huong {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nut1 {
    display: block;
    width: auto;
    margin: auto;
    padding: 10px;
    background-color: #4B3822;
    color: #FFFACD;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.nut1:hover {
    background-color: #A67C52;
    border-radius: 20px;
}

.nut1 i {
    margin-right: 5px;
    font-size: 1.2em;
}

.duoi {
    width: 100%;
    height: 75%;
}

.menu {
    margin-top: 12.5%;
    position: fixed;
    background-color: black;
    width: 20%;
    height: 100%;
    float: left;

}

.noi_dung {
    background-color: white;
    width: 80%;
    height: 100%;
    float: right;
    margin-top: 15%;
}

.nut2 {
    display: block;
    width: 90%;
    margin: 5% auto;
    padding: 10px;
    background-color: #4B3822;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    padding-left: 20px;
}

.nut2:hover,
.dang_xuat:hover {
    background-color: black;
}

.nut2 i,
.dang_xuat i,
.chu_mau_trang i {
    margin-right: 25px;
    font-size: 1.2em;
}

.dang_xuat {
    display: block;
    width: 90%;
    margin: 5% auto;
    padding: 10px;
    background-color: #4B3822;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.thanh_ngang {
    width: 60%;
    height: 1px;
    background-color: white;
    margin: 5% auto;
}

.thong_ke {
    background-color: white;
    width: 66%;
    height: 100%;
    float: left;
}

.ho_tro {
    position: fixed;
    margin-left: 50%;
    width: 33%;
    margin-top: -2.5%;
    background-color: white;
    width: 30%;
    height: 100%;
    float: right;
}

.lich {
    background-color: #f3dac2;
    padding-left: 1%;
    width: 32%;
    height: 100%;
    float: right;
}

.note {
    background-color: pink;
    width: auto;
    height: 35%;
}

.sdt_dia_chi {
    color: black;
    font-size: 18px;
}

.title {
    color: #4B3822;
    font-size: 200%;
    margin-bottom: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Existing styles */
/* ... */

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.icon-wrapper {
    display: inline-block;
    width: 50px;
    border: 1px solid #4B3822;
    /* Thêm đường viền */
    padding: 0;
    /* Khoảng cách giữa icon và đường viền */
    margin-right: 0;
    /* Khoảng cách giữa hộp và chữ */
}

.nut_menu {
    display: block;
    width: 90%;
    margin: 5% auto;
    padding: 10px;
    background-color: #4B3822;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    padding-left: 20px;
}

.nut_menu:hover, .dang_xuat:hover {
    background-color: black;
}

.nut_menu i, .dang_xuat i {
    margin-right: 25px;
    font-size: 1.2em;
}